.container-real{
    display: flex;
    flex-direction: column;
    padding: 6.25rem 10rem;
    &::after{
        background-image: url("../img/grid.svg");
        background-repeat: repeat;
        background-size: 100%;
    }

    .filtres{
        display: flex;
        gap: 16px;
        margin-bottom: 6.25rem;
    }
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .realisation{
            padding: 16px;
        }
    }
}
