footer{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 128px;
    background: rgba(0, 0, 0, 0.8);
    float: bottom;
    ul{
        display: flex;
        gap: 18px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                font-family: 'Archivo';
                font-weight: 400;
                font-size: 20px;

            }
        }
    }
    p{
        color: white;
        font-family: 'Archivo';
        font-weight: 400;
        font-size: 20px;
    }
}