footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >p{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #CCCCCC;
        text-align: center;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        p{
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: #CCCCCC;
        }
    }
}